<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<!-- mybatis在这个com.example.crud.bean包搜索需要的javaBean -->
	<typeAliases>
		<package name="com.example.crud.bean"/>
	</typeAliases>
	
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<!--调整分页参数合理化  设置分页里面不会出现(>最大页数  && <最小页数)-->
			<property name="reasonable" value="true"/>
		</plugin>
	</plugins>

</configuration>

